// ANIMATION

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes color-shift {
  0% {
    filter: hue-rotate(0);
  }
  25% {
    filter: hue-rotate(3.142rad);
  }
  50% {
    filter: hue-rotate(-0.25turn);
  }
  75% {
    filter: hue-rotate(90deg);
  }
  100% {
    filter: hue-rotate(0);
  }
}

@keyframes float-up {
  0% {
    transform: translate(0, 400%) scale(1.2);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
