.footer {
  padding: 40px 20px;
  text-align: center;

  &__copyright {
    display: inline-block;
    margin: 0 auto;
    color: $main-txt-white;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.1em;
  }
}
