.footer {
  position: absolute;
  bottom: 30px;
  left: 0;
  padding: 40px 20px 0px 20px;
  text-align: center;
  // position: relative;
  color: $main-txt-white;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.1em;

  &__credits {
    position: absolute;
    bottom: 0;
    right: 20px;
    color: hsla(0, 0%, 100%, 0.7);
  }

  &__copyright {
    display: inline-block;
    margin: 0 auto;
  }
}
